@model List<Product>

<h2>Ноутбуки</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var product in Model)
        {
            <li>@product.Brend - @product.ItemModel - @product.Price RUB</li>
        }
    </ul>
}

<form asp-controller="Product" asp-action="Clear" method="post">
    <button type="submit">Очистить</button>
</form>
